<form method="post">
    {% csrf_token %}
    <div>
        <p>Nota: 
        <input type="number" value="5" class="prueba form-control col-sm-1 d-inline" id="nota" name="nota" min="1" max="5" style="min-width: 50px;"></p>
    </div>
    <div>
        <p>Opinion y/o reclamación:</p>
        <textarea id="desc" name="desc" style="min-width: 1000px;" placeholder="Opiniones y/o reclamaciones"></textarea>
    </div>
    <button type="submit" class="btn btn-warning mt-2" style="text-align:right">Añadir opinión/reclamación</button>
</form>