 {% extends 'base.html' %}
{% load product_extras %}

{% block  content %}

{% if cart.products.exists %}
<div class="col-8">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th  scope="row">🛍️ Producto</th>
                    <th  scope="row">🧮 Cantidad</th>
                    <th  scope="row">💲 Precio</th>
                </tr>
            </thead>
            <tbody>

                {% for cp in cart.products_related %}
                    {% with product=cp.product %}
                <tr>
                    <th>{{ forloop.couter }}</th>
                    <th> 

                        {% if product.image %}
                        <img src="{{ product.image.url}}" alt="Imagen del Producto" width="60" height="60">
                        {% endif%}
                    </th>
                    <th>
                        <a href="{% url 'products:product' product.slug %}">
                            {{ product.title}}
                        </a>
                        <form class="remove-cart-form" method="post" action="{% url 'carts:remove' %}">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ cp.product.id }}">
                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                    </th>
                    <th>
                        <form class="update-cart-form" method="post" action="{% url 'carts:update_cart' %}">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ cp.product.id }}">
                            <input type="number" name="quantity" value="{{ cp.quantity }}" min="1" max="{{product.stock}}">
                            <button type="submit" class="btn btn-primary btn-sm">Actualizar</button>
                        </form>
                    </th>
                    <th>
                        <span class="font-weight-bold text-danger">{{product.price | price_format}}</span>
                    </th>
                </tr>
                    {% endwith %}
                {% endfor %}
            </tbody>
        </table>
</div>

<div class="col mt-4">
  <div class="card mt-4">
    <div class="card-body">
    <div class="font-weight-bold">
        Subtotal: ({{ cart.products.count}}) <span class="text-danger">{{ cart.subtotal | price_format }}</span>
    </div>
    <br>
    <select id="pago" class="form-control" style="min-width:60px;">
        <option value="tarjeta">Pago con tarjeta</option>
        <option value="contrareembolso">Pago contrareembolso</option>

    </select>
    <br>
    <select id="envio" class="form-control" style="min-width:60px;">
        <option value="casa">Envío a domicilio</option>
        <option value="tienda">Recoger en tienda</option>
        <option value="ecológico">Envío ecológico</option>
    </select>
    <div class="mt-2">
        <a id="boton" href="{% url 'orders:pago' %}?cart={{cart.id}}&pago=tarjeta&envio=casa" class="btn btn-success">💳 Proceder al pago</a>
    </div>
    </div>
   </div>
</div>


{% else %}
<div class="col">
    <div class="text-center" style="margin-top:20px">
        <p class="h3">Tu carrito de compras está vacío.</p>
        <a href="{% url 'index' %}" class="btn btn-primary">Seguir comprando</a>
    </div>
</div>
{% endif %}

<script>

    var pagoSelect = document.getElementById('pago');
    var envioSelect = document.getElementById('envio');
    window.onload= function(){
        pagoSelect.value="tarjeta";
        envioSelect.value="casa";
    };

    pagoSelect.addEventListener('change', function() {
        console.log("Evento de cambio de 'pago' disparado");
        var pago = this.value;
        var envio = envioSelect.value;
        console.log("Pago: " + pago);
        console.log("Envio: " + envio);
        var newHref = "{% url 'orders:pago' %}?cart={{cart.id}}&pago=" + this.value + "&envio=" + envio;
        document.getElementById('boton').href = newHref;
    });

    envioSelect.addEventListener('change', function() {
        console.log("Evento de cambio de 'envio' disparado");
        var envio = this.value;
        var pago = pagoSelect.value;
        console.log("Pago: " + pago);
        console.log("Envio: " + envio);
        var newHref = "{% url 'orders:pago' %}?cart={{cart.id}}&pago=" + pago + "&envio=" + envio;
        document.getElementById('boton').href = newHref;
    });
</script>
{% endblock  %}
