<div class="col-lg-2">
    <h3 class="my-4">Filtros</h3>
    <form action="{% url 'products:filter' %}">
        <div class="input-group">
            <div>
                <a>Precio mínimo:</a>
                <input type="number" min="0" name="min" value="{{query}}" class="form-control" style="min-width:60px;">
                Precio máximo:
                <input type="number" min="0" name="max" value="{{query}}" class="form-control"style="min-width:60px;">
                Productora:
                <select name="producer" class="form-control" style="min-width:60px;">
                    <option value="">---</option>
                    {% for producer in producers %}
                        <option value="{{ producer.id }}">{{ producer.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group-append" style="padding-top: 10px;">
                <input type="submit" name="" value="Buscar" class="btn btn-success" style="min-width:60px;">
            </div>
        </div>
    </form>
    <h3 class="my-4">Carrito</h3>
    {% if cart.products.exists %}
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th  scope="row">🛍️ Producto</th>
            </tr>
        </thead>
        <tbody>

            {% for cp in cart.products_related %}
                {% with product=cp.product %}
            <tr>
                <th>{{ forloop.couter }}</th>
                <th> 
                    {% if product.image %}
                    <img src="{{ product.image.url}}" alt="Imagen del Producto" width="10" height="10">
                    {% endif%}
                </th>
                <th>
                    <a href="{% url 'products:product' product.slug %}">
                        {{ product.title}}
                    </a>
                </th>
            </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="col">
        <div class="text-center" style="margin-top:20px">
            <p class="h3">Tu carrito de compras está vacío.</p>
         </div>
    </div>
    {% endif %}
</div>