{% load static %}
<div class="row">
    {% for object in object_list %}
         <ul class="list-group">
               <hr>
               <li class="list-group-item">
                 <div class="d-flex justify-content-between align-items-start" style="width: 925px;">
                      <div class="mr-3">
                           {% if object.image %}
                               <img class="card-img-left" src="{{ object.image.url}}" alt="Card image cap" style=" height: 150px; object-fit: cover;">
                           {% else %}
                               <img class="card-img-left" src="{% static 'images/aimagenot.png' %}" alt="Card image cap" style=" height: 150px; object-fit: cover;">
                           {% endif %} 
                      </div>
                      <div class="mr-3">
                            <h4 class="card-title">{{object.title}}</h4>
                            <p class="card-text"> {{object.description }}</p>
                            <div>
                                <a href="{% url 'products:product' object.slug %}" class="btn btn-outline-success btn-sm">Detalles</a> 
                            </div>
                      </div>
                      <div class="d-flex flex-column">
                           <div>
                              {% if object.stock %}
                               <a href="{% url 'products:product' object.slug %}?quantity=1" class="btn btn-outline-warning btn-sm "><span class="fas fa-cart-plus"></span>Añadir al carrito</a> 
                               {% endif %}
                              </div>
                            <div>
                                    <user class="is_staff">
                                        <a href="{% url 'products:product' object.slug %}/edit" class="btn btn-outline-warning btn-sm ">Edit</a> 
                                        <a href="{% url 'products:product' object.slug %}/delete" class="btn btn-outline-warning btn-sm ">Delete</a> 
                                   </user> 
                                    
                                   </div>
                              <div>
                              {% if object.stock %}
                                   <br><br><a style="color:green">Precio: {{object.price}}€</a>
                              {% else %}
                                   <br><h6 style="color:red">FUERA DE STOCK</h6><strike style="color:red">Precio: {{object.price}}€</strike>
                              {% endif %}

                          </div>
                      </div>
                 </div>
              </li>
         </ul>
    {% endfor %}
 </div>
