{% extends 'base.html'%}

{% block content %}
<div class="col">
    <h2>Crear producto</h2>
        <form method="post" enctype="multipart/form-data"> {% csrf_token %}
            
            <h3>Titulo</h3>
            <div class="form-group">
                <input id="titulo" type="text" name="titulo" class="form-control" placeholder="Titulo" required>
                
            <h3>Descripcion</h3>
            </div>
            <div class="form-group">
                <input id="descripcion" type="text" name="descripcion" class="form-control" placeholder="Descripcion" required>
                
            </div>

            <h3>Precio</h3>
            <div class="form-group">
                <input id="precio" type="number" name="precio"  class="form-control" placeholder="Price" required>
                
            <h3>Stock</h3>
            </div>
            <div class="form-group">
                <input id="stock" type="number" name="stock" class="form-control" placeholder="Stock" required>
                
            <h3>Imagen</h3>
            </div>
            <div class="form-group">
                <input id="imagen" type="file" name="imagen" class="form-control" placeholder="Imagen" required>
                
            </div>

            <button type="submit" class="btn btn-primary">Crear</button>
         
        </form>
</div>
{% endblock %}
