{% extends 'base.html'%}

{% block content %}
<div class="col">
    <h2>Crear categoria</h2>
        <form method="post" enctype="multipart/form-data"> {% csrf_token %}
            
            <h3>Titulo</h3>
            <div class="form-group">
                <input id="titulo" type="text" name="titulo" class="form-control" placeholder="Titulo">
                
            <h3>Descripcion</h3>
            </div>
            <div class="form-group">
                <input id="descripcion" type="text" name="descripcion" class="form-control" placeholder="Descripcion">
                
            </div>

            
            <h3>Imagen</h3>
            <div>
            <div class="form-group">
                <input id="imagen" type="file" name="imagen" class="form-control" placeholder="Imagen">
                
            </div>

            <button type="submit" class="btn btn-primary">Crear</button>
         
        </form>
</div>
{% endblock %}
