{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
  <h2 class="display-4">Bienvenido a Collecta</h2>
  <p class="lead">
    La tienda Collecta, ubicada en el corazón de Sevilla, es un paraíso para los amantes de los productos coleccionables.
    Nos dedicamos a proporcionar artículos únicos y emocionantes que capturan la esencia de tus pasiones e intereses.
  </p>
  <hr class="my-4">
  <p>
    <strong>Dirección:</strong> Calle de los Coleccionables, #123, Sevilla<br>
    <strong>Teléfono:</strong> +34 123 456 789<br>
    <strong>Correo Electrónico:</strong> info@collecta-sevilla.com
  </p>
  <p class="lead">
    ¡Ven y descubre un mundo de tesoros coleccionables que harán crecer tu colección!
  </p>
</div>

<div class="row">
  <div class="col-md-6" style="background-color: #2838C2; color: white; padding: 20px;">
    <h3>Nuestra Historia</h3>
    <p>
      Desde nuestra fundación en 20XX, hemos estado comprometidos con la pasión por los coleccionables.
      Comenzamos como un pequeño rincón para los aficionados locales y hemos crecido hasta convertirnos en un destino para coleccionistas de toda la región.
    </p>
    <p>
      En Collecta, no solo vendemos productos, sino que también compartimos historias, experiencias y la emoción de encontrar ese artículo especial que completa tu colección.
    </p>
  </div>

  <div class="col-md-6" style="background-color: #2838C2; color: white; padding: 20px;">
    <h3>Nuestro Compromiso</h3>
    <p>
      En Collecta, nos esforzamos por ofrecer productos de la más alta calidad y satisfacer las necesidades de nuestros clientes.
      Nos asociamos con los mejores fabricantes y proveedores para garantizar que cada artículo que encuentres en nuestra tienda sea auténtico y digno de tu colección.
    </p>
    <p>
      Además de nuestra tienda física, también estamos comprometidos con la comunidad en línea de coleccionistas. Síguenos en las redes sociales para obtener las últimas novedades y eventos exclusivos.
    </p>
  </div>
</div>
  <p>
    <strong>Redes Sociales:</strong>
    <a href="https://www.facebook.com/collectasevilla" target="_blank" title="Facebook"><i class="fab fa-facebook-square fa-2x"></i></a>
    <a href="https://twitter.com/collectasevilla" target="_blank" title="Twitter"><i class="fab fa-twitter-square fa-2x"></i></a>
    <a href="https://www.instagram.com/collectasevilla" target="_blank" title="Instagram"><i class="fab fa-instagram-square fa-2x"></i></a>
  </p>

</div>
{% endblock %}